@charset "UTF-8";


@media only screen and (min-width: 768px) {
  .container {
    width: 700px;
    flex-direction: row;
  }

  .container>.img-container {
    width: 50%;
    height: 100%;
  }

  .container>.login-form {
    width: 50%;
    height: 100%;
  }

  #forgot-button {
    margin: auto 0 30px;
  }
}