@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --coolor-1: #0d1b2a;
  --coolor-2: #1b263b;
  --coolor-3: #edf2f4;
  --coolor-4: #778da9;
  --coolor-5: #415a77;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  color: var(--coolor-3);
}

main {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--coolor-1);
}

.container {
  width: 300px;
  height: 500px;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  border-radius: 20px;
  box-shadow: 2px -2px 3px 1px rgba(0, 0, 0, 0.247);
  border: .1px solid var(--coolor-2);

  background-color: var(--coolor-2);

  transition: width .3s, height .3s ease-in-out;
}

.img-container {
  height: 30%;

  background: var(--coolor-3) url('../images/pequeno.jpg') no-repeat center center / cover;
}

.login-form {

  padding: 16px;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--coolor-2);
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 30px 0;
  font-size: 2em;
  font-weight: normal;
  text-align: left;
  color: inherit;
}

.field {
  margin: 10px 0 16px;
  width: 100%;
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field>label {
  display: none;
}

.material-symbols-outlined {
  color: var(--coolor-4);
}

.field-icon {
  padding: 3px;
  width: 34px;
  height: 34px;
  font-size: 1.5em;
}


.input,
.button {
  padding: 3px;
  height: 34px;
  width: 100%;
  border-radius: 4px;
  background-color: var(--coolor-1);

  transition: background-color 0.3s, border-color 0.3s ease, box-shadow 0.3s ease;
}

.input {
  width: calc(100% - 38px);
  border: .5px solid var(--coolor-5);
}

.input:focus,
.input:hover {
  outline: 2px solid var(--coolor-4);
  border-color: var(--coolor-4);
  box-shadow: 1px 2px 2px .4px rgba(0, 0, 0, 0.397);
}

.button {
  margin-bottom: 16px;
  cursor: pointer;
  background-color: var(--coolor-5);
  border: none;
}

.button:hover {
  background-color: var(--coolor-4);
}

.button:active {
  transform: scale(0.98);
}

.forgot-container {
  display: flex;
  justify-content: center;

  align-items: center;
  margin-top: auto
}

#forgot-button {
  padding: 8px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
}

#forgot-button:hover {
  text-decoration: underline;
}

#forgot-icon {
  font-size: 1em;
  color: var(--coolor-4);
  padding: 1px;
  text-decoration: none;
  
}


